body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    width: 100%;
    margin 0;
}

/*______________AGENDAMENTO______________*/

.container-fluid {
  width: 100%;
}

#mes {
    /*padding: 70px 25px;*/
    background: #1abc9c;
}

.semana {
    padding: 70px 25px;
    background: #1abc3c;
    margin-bottom: 1%;
}

.mes ul, .semana ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.mes ul li, .semana ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

#anterior {
    float: left;
    padding-top: 10px;
}

#proximo {
    float: right;
    padding-top: 10px;
}

.calendario, th, td {
  width: 100%;
  height: 100%;
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 1%;
}

th {
  border: 1px solid black;
  background-color: #1abc9c;
  color: white;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

td {
  border: 1px solid black;
  table-layout: auto;
}

/*__________________END__________________*/
