body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.jumbotron {
  padding: 70px;
}

/*Tabela de Horários*/
#slots table, #slots th, #slots td {
    border: 2px solid #eee;
    border-collapse: collapse;
    border-spacing: 10px;
    padding: 2%;
    font-size: 1.5em;
    text-align: center;
    width: 1%;
}

#slots th, #slots td {
  background-color: #24bf3e;
  color: white;
}
/*Tabela de Horários*/

#Agendar, #Deletar {
  margin-top: 10px;
}
