body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

/*Gerenciamento*/

.jumbotron {
  padding: 70px;
}

.btn-group-vertical > button{
    margin-bottom:40px;
    border-radius:10px !important;
}

.input-group {
  margin-bottom:10px;
  border-radius:10px !important;
}

.col-lg-7 {
  background-color: red;
}


/*Agendamento*/

#agendamento .btn-group-vertical > button {
    margin-bottom:10px;
    border-radius:10px !important;
}

#slots table, #slots th, #slots td {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 5px;
    font-size: 1.5em;
}
